<p> Pandas, short for Python Data Analysis, is a Python package widely used in data science. While a Numpy array can be used to represent a spreadsheet of data, it is not the best format. Pandas also provides a convenient way to read data from a spreadsheet in an external file. </p>
<p> To read a file, such as a csv or excel file, it should be in the same folder as this jupyter notebook. And if it is a csv file, simply use the read_csv command: </p>

In [1]:
import pandas as pd
df = pd.read_csv("iris-mv.csv")
print(df)

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         NaN          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
130          6.8         3.2          5.9         2.3  Iris-virginica
131          6.7         3.3          5.7         2.5  Iris-virginica
132          6.3         2.5          5.0         1.9  Iris-virginica
133          6.5         3.0          5.2         2.0  Iris-virginica
134          5.9         3.0          5.1         1.8  Iris-virginica

[135 rows x 5 columns]

The object we got here, named df, is a dataframe, a Pandas object most commonly used in data science. And you can see that it looks like a spreadsheet if printed. Another way of having a quick look at the dataframe, without the risk of printing something that could occupy the entire screen if the spreadsheet is too big, is to use the .head command, which prints the first 5 rows of the dataframe:

In [2]:
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         NaN          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

Another useful function that gives an overall view of the data is info.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 5 columns):
SepalLength    121 non-null float64
SepalWidth     124 non-null float64
PetalLength    116 non-null float64
PetalWidth     125 non-null float64
Species        135 non-null object
dtypes: float64(4), object(1)
memory usage: 5.4+ KB

To select one particular column of the dataframe, the code is df[column name]:

In [4]:
a = df["SepalLength"]
print(a)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
130    6.8
131    6.7
132    6.3
133    6.5
134    5.9
Name: SepalLength, Length: 135, dtype: float64

Another way is df.columnname, but it only works if the column name without the quotes is a legal Python variable name.

In [5]:
df.SepalLength

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
130    6.8
131    6.7
132    6.3
133    6.5
134    5.9
Name: SepalLength, Length: 135, dtype: float64

Once you have selected a column, you can treat it as a normal Python iterable and do calculations on it. For example find the length and sum:

In [27]:
a = df["SepalLength"]
print(len(a))
print(sum(a))

150
876.5000000000001

To select a row, use iloc.

In [6]:
df.iloc[100]

SepalLength               6.4
SepalWidth                2.7
PetalLength               NaN
PetalWidth                1.9
Species        Iris-virginica
Name: 100, dtype: object

To select a number of rows, use the .iloc command, with the indexing similar to slicing of a Python list:

In [7]:
df.iloc[35:55]

    SepalLength  SepalWidth  PetalLength  PetalWidth          Species
35          4.4         NaN          1.3         NaN      Iris-setosa
36          5.1         NaN          1.5         0.2      Iris-setosa
37          4.4         3.2          1.3         0.2      Iris-setosa
38          NaN         3.5          NaN         0.6      Iris-setosa
39          NaN         3.8          1.9         0.4      Iris-setosa
40          4.8         3.0          1.4         0.3      Iris-setosa
41          5.1         3.8          1.6         0.2      Iris-setosa
42          4.6         3.2          NaN         0.2      Iris-setosa
43          5.3         3.7          1.5         0.2      Iris-setosa
44          5.0         3.3          1.4         0.2      Iris-setosa
45          7.0         3.2          NaN         1.4  Iris-versicolor
46          6.4         3.2          NaN         1.5  Iris-versicolor
47          6.9         3.1          4.9         1.5  Iris-versicolor
48          5.5         2.3          4.0         1.3  Iris-versicolor
49          6.5         2.8          4.6         1.5  Iris-versicolor
50          5.7         2.8          4.5         1.3  Iris-versicolor
51          6.3         3.3          NaN         1.6  Iris-versicolor
52          4.9         2.4          3.3         1.0  Iris-versicolor
53          6.6         2.9          4.6         1.3  Iris-versicolor
54          NaN         2.7          3.9         1.4  Iris-versicolor

If you are selecting multiple rows and multiple columns, use iloc:

In [8]:
df.iloc[80:100,2:]

    PetalLength  PetalWidth          Species
80          4.0         1.3  Iris-versicolor
81          4.4         1.2  Iris-versicolor
82          4.6         1.4  Iris-versicolor
83          3.3         1.0  Iris-versicolor
84          4.2         1.3  Iris-versicolor
85          4.2         1.2  Iris-versicolor
86          4.2         1.3  Iris-versicolor
87          4.3         1.3  Iris-versicolor
88          3.0         1.1  Iris-versicolor
89          NaN         1.3  Iris-versicolor
90          6.0         2.5   Iris-virginica
91          5.1         1.9   Iris-virginica
92          5.9         2.1   Iris-virginica
93          5.6         1.8   Iris-virginica
94          6.6         2.1   Iris-virginica
95          4.5         1.7   Iris-virginica
96          6.3         1.8   Iris-virginica
97          5.8         1.8   Iris-virginica
98          6.1         2.5   Iris-virginica
99          5.1         NaN   Iris-virginica

Find the number of unique values and their respective counts in a particular column:

In [9]:
df['Species'].value_counts()

Iris-setosa        45
Iris-virginica     45
Iris-versicolor    45
Name: Species, dtype: int64

Sometimes you want to select all rows of which the value of a column is a particular value. For example, if you want all rows of which the Species is Iris-setosa:

In [10]:
df[df['Species']=='Iris-setosa']

    SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         NaN          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
8           4.4         2.9          NaN         0.2  Iris-setosa
9           4.9         NaN          1.5         0.1  Iris-setosa
10          NaN         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         NaN  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          NaN         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          NaN         3.8          1.5         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
23          4.8         NaN          1.9         0.2  Iris-setosa
24          5.0         3.0          1.6         0.2  Iris-setosa
25          NaN         3.5          1.5         0.2  Iris-setosa
26          5.2         3.4          1.4         0.2  Iris-setosa
27          4.7         3.2          1.6         NaN  Iris-setosa
28          4.8         3.1          NaN         0.2  Iris-setosa
29          5.4         3.4          1.5         0.4  Iris-setosa
30          NaN         4.1          1.5         0.1  Iris-setosa
31          5.5         4.2          1.4         0.2  Iris-setosa
32          4.9         3.1          1.5         NaN  Iris-setosa
33          5.0         3.2          1.2         0.2  Iris-setosa
34          4.9         3.1          1.5         0.1  Iris-setosa
35          4.4         NaN          1.3         NaN  Iris-setosa
36          5.1         NaN          1.5         0.2  Iris-setosa
37          4.4         3.2          1.3         0.2  Iris-setosa
38          NaN         3.5          NaN         0.6  Iris-setosa
39          NaN         3.8          1.9         0.4  Iris-setosa
40          4.8         3.0          1.4         0.3  Iris-setosa
41          5.1         3.8          1.6         0.2  Iris-setosa
42          4.6         3.2          NaN         0.2  Iris-setosa
43          5.3         3.7          1.5         0.2  Iris-setosa
44          5.0         3.3          1.4         0.2  Iris-setosa

Select rows of which a certain column is within a range.

In [11]:
df[df['SepalLength']<5]

    SepalLength  SepalWidth  PetalLength  PetalWidth          Species
1           4.9         3.0          1.4         0.2      Iris-setosa
2           4.7         NaN          1.3         0.2      Iris-setosa
3           4.6         3.1          1.5         0.2      Iris-setosa
6           4.6         3.4          1.4         0.3      Iris-setosa
8           4.4         2.9          NaN         0.2      Iris-setosa
9           4.9         NaN          1.5         0.1      Iris-setosa
11          4.8         3.4          1.6         0.2      Iris-setosa
12          4.8         3.0          1.4         0.1      Iris-setosa
13          4.3         3.0          1.1         NaN      Iris-setosa
22          4.6         3.6          1.0         0.2      Iris-setosa
23          4.8         NaN          1.9         0.2      Iris-setosa
27          4.7         3.2          1.6         NaN      Iris-setosa
28          4.8         3.1          NaN         0.2      Iris-setosa
32          4.9         3.1          1.5         NaN      Iris-setosa
34          4.9         3.1          1.5         0.1      Iris-setosa
35          4.4         NaN          1.3         NaN      Iris-setosa
37          4.4         3.2          1.3         0.2      Iris-setosa
40          4.8         3.0          1.4         0.3      Iris-setosa
42          4.6         3.2          NaN         0.2      Iris-setosa
52          4.9         2.4          3.3         1.0  Iris-versicolor

To sort the rows in a dataframe according to the values in a certain column, use <code>sort_values</code>.

In [12]:
df.sort_values(by=['SepalWidth'])

     SepalLength  SepalWidth  PetalLength  PetalWidth          Species
55           5.0         2.0          3.5         1.0  Iris-versicolor
63           6.2         2.2          4.5         1.5  Iris-versicolor
57           6.0         2.2          4.0         NaN  Iris-versicolor
108          6.0         2.2          5.0         1.5   Iris-virginica
48           5.5         2.3          4.0         1.3  Iris-versicolor
..           ...         ...          ...         ...              ...
83           5.0         NaN          3.3         1.0  Iris-versicolor
91           5.8         NaN          5.1         1.9   Iris-virginica
92           7.1         NaN          5.9         2.1   Iris-virginica
109          6.9         NaN          NaN         2.3   Iris-virginica
122          7.7         NaN          6.1         2.3   Iris-virginica

[135 rows x 5 columns]

Say we want to collapse all rows with the same species and display the values according to their respective mean, use <code>groupby</code>.

In [13]:
df.groupby(['Species']).mean()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Species
Iris-setosa         4.979487    3.470000     1.465000    0.241463
Iris-versicolor     5.965854    2.776744     4.234211    1.330233
Iris-virginica      6.629268    2.960976     5.526316    2.031707

To add a row to the dataframe, using append. Note that unlike a default Python list, the dataframe append is not in place, but rather creating a new dataframe with the new row, like most of the functions here.

In [14]:
df2 = pd.Series([5,4,1,0,'Iris-setosa'],index=df.columns)
df.append(df2,ignore_index=True)

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         NaN          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
131          6.7         3.3          5.7         2.5  Iris-virginica
132          6.3         2.5          5.0         1.9  Iris-virginica
133          6.5         3.0          5.2         2.0  Iris-virginica
134          5.9         3.0          5.1         1.8  Iris-virginica
135          5.0         4.0          1.0         0.0     Iris-setosa

[136 rows x 5 columns]

Add a column to the dataframe. Say we want to add a column calculated from existing columns of a dataframe, say SepalLength squared. The code is as follows:

In [15]:
df['SLSquared'] = df['SepalLength']**2
df

,SepalLength,SepalWidth,PetalLength,PetalWidth,Species,SLSquared
0,5.1,3.5,1.4,0.2,Iris-setosa,26.01
1,4.9,3.0,1.4,0.2,Iris-setosa,24.01
2,4.7,NaN,1.3,0.2,Iris-setosa,22.09
3,4.6,3.1,1.5,0.2,Iris-setosa,21.16
4,5.0,3.6,1.4,0.2,Iris-setosa,25.00
...,...,...,...,...,...,...
130,6.8,3.2,5.9,2.3,Iris-virginica,46.24
131,6.7,3.3,5.7,2.5,Iris-virginica,44.89
132,6.3,2.5,5.0,1.9,Iris-virginica,39.69
133,6.5,3.0,5.2,2.0,Iris-virginica,42.25
134,5.9,3.0,5.1,1.8,Iris-virginica,34.81

Map. Sometimes you want to transform entries in a column into another, for example to change the nominal values in the Species column into numbers so the program can do calculation on it.

In [23]:
df['Species'].map({"Iris-setosa": 0, "Iris-versicolor": 1, "Iris-virginica": 2})

0      0
1      0
2      0
3      0
4      0
      ..
130    2
131    2
132    2
133    2
134    2
Name: Species, Length: 135, dtype: int64

To drop a column or row, use drop, with default axis=0 meaning rows and axis=1 meaning columns. Note dropping is not in place by default.

In [16]:
df.drop(['SepalLength','SepalWidth'],axis=1)

     SepalWidth  PetalLength  PetalWidth         Species  SLSquared
0           3.5          1.4         0.2     Iris-setosa      26.01
1           3.0          1.4         0.2     Iris-setosa      24.01
2           NaN          1.3         0.2     Iris-setosa      22.09
3           3.1          1.5         0.2     Iris-setosa      21.16
4           3.6          1.4         0.2     Iris-setosa      25.00
..          ...          ...         ...             ...        ...
130         3.2          5.9         2.3  Iris-virginica      46.24
131         3.3          5.7         2.5  Iris-virginica      44.89
132         2.5          5.0         1.9  Iris-virginica      39.69
133         3.0          5.2         2.0  Iris-virginica      42.25
134         3.0          5.1         1.8  Iris-virginica      34.81

[135 rows x 5 columns]

Data in the real world seldom comes nice and clean. For example, in our dataframe there are some cells with some missing values, denoted by NaN. You can also check the number of missing, or null, values in each column of your dataframe by calling isnull().sum:

In [18]:
df.isnull().sum()

SepalLength    14
SepalWidth     11
PetalLength    19
PetalWidth     10
Species         0
SLSquared      14
dtype: int64

Nowadays, most of a data scientist's time is spent on cleaning up a dataset, like the one with missing values. How to deal with missing values in a dataset is itself a huge branch of data science. In this course you will learn a few simple ways. One of them is to simply drop the rows with a missing value, or even an entire column if there are just too many missing in that column. A Pandas dataframe has a convenient function that lets you do just that:

In [19]:
df.dropna(axis=0)

,SepalLength,SepalWidth,PetalLength,PetalWidth,Species,SLSquared
0,5.1,3.5,1.4,0.2,Iris-setosa,26.01
1,4.9,3.0,1.4,0.2,Iris-setosa,24.01
3,4.6,3.1,1.5,0.2,Iris-setosa,21.16
4,5.0,3.6,1.4,0.2,Iris-setosa,25.00
5,5.4,3.9,1.7,0.4,Iris-setosa,29.16
...,...,...,...,...,...,...
130,6.8,3.2,5.9,2.3,Iris-virginica,46.24
131,6.7,3.3,5.7,2.5,Iris-virginica,44.89
132,6.3,2.5,5.0,1.9,Iris-virginica,39.69
133,6.5,3.0,5.2,2.0,Iris-virginica,42.25
134,5.9,3.0,5.1,1.8,Iris-virginica,34.81

Sometimes instead of dropping the rows, you might want to keep them by filling the missing cells in a way that makes sense. One simple way is to fill a cell with the value of the next row:

In [20]:
df = df.fillna(method='ffill')
df.isnull().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Species        0
SLSquared      0
dtype: int64

Finally, we might want to have a quick look at how the different columns relate to each other. One very useful tool is the pairplot function of a graphing library Seaborn. It can show all pairwise scatter charts of all numerical columns in a dataframe, giving the data scientist an excellent overall glance of relations between any two attributes, along with the distributions of each attribute.

In [21]:
import seaborn as sns
sns.pairplot(df,hue="Species")

You might have noticed a lot of operations here look like what you would do on a excel spreadsheet. Indeed you can consider dataframe to be like a excel spreadsheet. It also means that if there is a kind of operation you can think of that you want to do on a spreadsheet, chances are there is a Pandas dataframe equivalent. So just search for it in the documentation or Stack Overflow!

Exercise: <br>
Read the "auto-mpg.csv" file into a Pandas dataframe. It contains data about car models. 
Find the maximum, minimum, and average value of MPG of all cars.
Find the numbers of cars that have 4, 6, or 8 cylinders.
Find the number of cars with less than 100 horsepower.
Find the average mpg of cars that have 6 cylinders.

Clean up the penguins_size.csv dataset. Give reasons why you use specific methods to get rid of missing values in the dataset.